<!DOCTYPE html>
<html>
<head>
  <title>
    Project 1 
  </title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

  </head>
<body>
<div>
  <ul class = 'nav'>
    <li>
      <a href="/" >Home</a>
    </li>
    <li>
      <a href="/search" >History</a>
    </li>
    <li>
      <a href="/battle" >Battle</a>
    </li>
    <li>
      <a href="/popular" >Popular</a>
    </li>
  </ul>
</div>

<center>
<h1>W4111 Project - Github Battle</h1>
<br>
<br>
<h3>Author: Bin Xu, Jinhao Zhang</h3>
<h4>UNI: bx2161, jz3011</h4>
</center>

</body>


</html>
